name: Build WF
on:
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main
    
  workflow_dispatch:

  schedule:
    - cron: '15 21 * * 1-5'

permissions:
  contents: read

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v5

      - name: Maven Build
        run: mvn install
      
      - name: Upload Build Artifacts (WAR)
        uses: actions/upload-artifacts@v3
        with:
          name: vprofile-app
          path: target/*.war

  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      
      - name: Run tests on main branch
        run: mvn test
      
      - name: Checkstyle
        run: mvn checkstyle:checkstyle